@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* landing page */
.landing-text{
    font-size: 100px;
    color: white;
    font-weight: 400;
}
@media screen and (max-width: 799px) {
    .landing-text{
        font-size: 60px;
    }
}
/* @media screen and (max-width: 699px) {
    .landing-text{
        font-size: 50px;
    }
} */
@media screen and (max-width: 480px) {
    .landing-text{
        font-size: 50px;
    }
}
@media screen and (max-width: 399px) {
    .landing-text{
        font-size: 40px;
    }
}

/* form styling */
.form-style{
    width: 350px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(56, 125, 143, 0.349) 0px 7px 29px 0px;
}

.form-style-dashboard{
    width: 500px;
    margin-left: 26px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 480px) {
    .form-style{
        width: 100%;
        box-shadow: none;
    }
}

@media screen and (max-width: 634px) {
    .form-style-dashboard{
        width: 100%;
        margin-left: 0;
        box-shadow: none;
    }
}

/* Login page */
.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('./assets/background/Snow.png');
    background-size: cover;
    opacity: 0.9;
    background-position: center;
}

/* Utilities classes */
.text-effect:hover{
    color: rgb(118, 118, 199);
}
.vid-parent{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.video-home{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-baloo{
    font-family: 'Baloo 2', cursive;
}

.md-text{
    font-size: 3rem;
    color: rgba(2, 4, 83, 0.329);
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.247);
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 5px;
}

.nav-btn{
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 20px;
    margin: 10px 5px;
    color: black;
    height: 35px;
    font-weight: 500;
}